chardet==4.0.0
click==8.0.1
Flask==2.0.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pdfminer.six==20200517
pdfplumber==0.5.28
Pillow==8.2.0
pycryptodome==3.10.1
sortedcontainers==2.4.0
Wand==0.6.6
Werkzeug==2.0.1
